.IframeLocationMyChart{
    /* float: left; */
    /* display: inline-block; */
    margin: 0;
    width: 50%;
    height: 660px;
    border: none;
}

.FilterSideBar{
    width: 202px;
    background: white;
    /* margin-left: 0px; */
    padding: 8px 8px;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 1.2em;
    max-height: 900px;
    /* overflow: scroll; */
    box-shadow:0 0 9px #ccc;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}