
.FilterSideBar{
    /* width: 202px; */
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* margin-left: 0px; */
    padding: 8px 8px;
    top: 90px;
    left: 1.2em;
    max-height: 900px;
    /* overflow: scroll; */
    box-shadow:0 0 9px #ccc;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.SideBarFilterHeader{
    margin: auto;
    padding: 10px 70px;
}

.ProviderSearchInput{
    width: 20%;
    margin: 0 0 0 0%;

}